version: '3.8'

services:
  app:
    build:
      context: .
    container_name: consultation-management-app
    ports:
      - "8000:8000"
    volumes:
      - .:/usr/src/app
    networks:
      - app-network

    restart: always

  celery:
    build: .
    container_name: consultation-management-celery
    command: celery -A project worker --concurrency=4 -l info
    volumes:
      - .:/usr/src/app

    depends_on:
      redis:
        condition: service_healthy
    networks:
      - app-network
    restart: always


  redis:
    image: redis:latest
    container_name: consultation-management-redis
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

networks:
  app-network: