version: '3.8'

services:
  app:
    build:
      context: .
    container_name: consultation-management-app
    ports:
      - "8000:8000"
    volumes:
      - .:/usr/src/app
    networks:
      - app-network

    restart: always

networks:
  app-network: